header {
  background-color: #fd0808a5;
  position: relative;
  padding: 100px;
}

body {
  margin: 0;
  background-image: url("morce.png"); 
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  
}

.container{
  max-width: 900px;   
  margin: auto;       
  padding: 60px;
  background-color: rgba(254, 251, 228, 0.995);
}   

h1 { 
  text-shadow: 2px 2px rgb(183, 96, 118);
  text-align:center;
  padding-top: 80px;
}

p {
  color: rgb(11, 11, 18);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;   
}

form{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 40px auto;
  gap: 10px;
}
  footer{ position: relative;
  padding: 50px; }
